form p {
    color:red;
    font-size: small;
}

fieldset {
    background-color: rgba(245, 220, 189, 0.993);
    width: fit-content;
    height:fit-content;
    padding: 30px;
    padding-top:50px;
    margin-left:auto;
    margin-right:auto;
}

legend {
    background-color: rgb(235, 235, 235);
    color: rgb(10, 8, 8);
    padding: 5px 10px;
    margin-left:0;
    margin-right:auto;
    font-size: larger;
    
  }
  
  input {
    margin: 5px;
  }