.Navbar{
    margin: 0;
    width: 100vw;
    height: 8vh;  
    display: flex;
    position: sticky;
    top:0;
    background-color: aqua;
 
}
 
.Navbar.activ{
    background: rgb(71, 123, 255);
}

.Navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    height: 100%;
    margin: 0%;
    
  }

  .Navbar li {
    display: inline;
    border: 1px solid black;
    padding:2%;

}