#footer{
    margin: 0;
    width: 100vw;
    height: fit-content; 
    bottom: 0;
    position: relative; 
    background-color: #533483;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    
}

ul {
   list-style-type: none;
}

.contact_us {
   font-size: smaller;
   text-align: left;
   color: white;
   margin-left: 75px;
}


.contact_us p{
   color: black;
   font-size: larger;
}

.social_media ul li a{
 margin-right: 105px;
}
.social_media ul li {
   margin-top: 10px;
  }

#myLogoFooter {
   width: 350px;
}

#rock-smith {
   height: 200px;
   margin-top: 20PX;
   margin-right: 30PX;
}
span.list-su-heading{
   color: rgb(242, 200, 148);
   font-weight: bold;
}

.contact_us a{
   color: rgb(197, 197, 246);
}


