#loginSignupContainer{
    top:0;
    right: 10px;
    position: absolute;
    display: flex;
    margin-right: 20px;
    align-items: center;
}
#wellcom{
    color:wheat;
    font-size:1.5vw ;
    position: absolute;
    display: flex;
    margin-right: 20px;
    align-items: center;
    top:0;
    right: 10px;
}

.login-button{
    font-size:1vw 
}
.signup-button {
    font-size:1vw
}