@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.App {
  text-align: center;
  font-family: 'Manrope', sans-serif;
}

Header{
  position:absolute;
  top:0;
  left:0;

}

.navbar-header-container{
  overflow: hidden;
}

